<!DOCTYPE html>
<html>
<head>
	<title>Recommendation system API</title>
</head>
<body>
	<h1>Instructions for using API</h1>
	<h3>
		<ol>
			<li>Use 'https://recommendation-system-api-aoml.herokuapp.com/recommend?name=movie_name' to get the response</li>
			<li>For space use '+' or '%20'</li>
			<li>'https://recommendation-system-api-aoml.herokuapp.com/home' or 'https://recommendation-system-api-aoml.herokuapp.com/' to see the instructions</li>
			<li>The response from the API consist of movie name, Director, Genere, Actors of recommended movies followed by the same details of query movie</li>
		</ol>
	</h3>
</body>
</html> 
